
{% extends 'base.html'%}

{% block body %}
 <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Send Payout Request</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active">
                                <a href="https://qfsaccessaccount.us/user/dashboard">Dashboard</a>
                            </div>
                            <div class="breadcrumb-item">Send Payout Request</div>
                        </div>
                    </div>
                    <!------ alert ------>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="bd-callout bd-callout-primary mx-2">
                                <i class="fa-3x fas fa-info-circle text-primary"></i> Withdraw your money from here. </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="container-fluid" id="container-wrapper">
                            <div class="row justify-content-md-center">
                                <div class="col-md-6">
                                    <div class="card mb-4 card-primary shadow">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Choose a payout method</h6>
                                        </div>
                                        <div class="card-body payout">
                                            <form  method="post">
                                                <input type="hidden" name="_token" value="xbegwQlCSk72J9sKURD5zLNTbR0du6Retz0xphju">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label for="methodId">Payout Method</label>
                                                        <div class="form-group">
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="0" value="Payoneer">
                                                                <label class="form-check-label" for="0">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/payoneer.png">
																<span>Payoneer</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="1" value="Paypal Manual">
                                                                <label class="form-check-label" for="1">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/paypal.png">
																<span>Paypal manual</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="2" value="Bank">
                                                                <label class="form-check-label" for="2">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/bank.png">
																<span>Bank</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="3" value="Flutterwave">
                                                                <label class="form-check-label" for="3">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/flutterwave.jpg">
																<span>Flutterwave</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="4" value="Razorpay">
                                                                <label class="form-check-label" for="4">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/razorpay.jpg">
																<span>Razorpay</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="5" value="Paystack">
                                                                <label class="form-check-label" for="5">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/paystack.jpg">
																<span>Paystack</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="6" value="Coinbase">
                                                                <label class="form-check-label" for="6">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/coinbase.png">
																<span>Coinbase</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="7" value="Perfect Money">
                                                                <label class="form-check-label" for="7">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/perfect money.jpg">
																<span>Perfect Money</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="8" value="Paypal">
                                                                <label class="form-check-label" for="8">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/paypal.jpg">
																<span>Paypal</span>
															</label>
                                                            </div>
                                                            <div class="form-check form-check-inline mb-4 ml-2">
                                                                <input class="form-check-input" type="radio" name="methodId" id="9" value="Binance">
                                                                <label class="form-check-label" for="9">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/binance.png">
																<span>Binance</span>
															</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="amount">Amount</label>
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" name="amount" value="" placeholder="Enter Amount" class="form-control ">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">USD</span>
                                                                </div>
                                                            </div>
                                                            <div class="invalid-feedback"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" id="submit" class="btn btn-primary btn-sm btn-block">Continue</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-4 card-primary shadow">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                        </div>
                                        <div class="card-body showCharge d-none">
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>Fixed charge</span>
                                                    <span class="text-danger" id="fixed_charge"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>Percentage charge</span><span class="text-danger" id="percentage_charge"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>Min limit</span>
                                                    <span class="text-info" id="min_limit"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>Max limit</span>
                                                    <span class="text-info" id="max_limit"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
{% endblock %}