
{% extends 'base.html'%}

{% block body %}          

<div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Add Fund Manual</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active">
                                <a href="">Dashboard</a>
                            </div>
                            <div class="breadcrumb-item">Add Fund Manual</div>
                        </div>
                    </div>

                    <!------ alert ------>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="bd-callout bd-callout-primary mx-2">
                                <i class="fa-3x fas fa-info-circle text-primary"></i> You can deposit money into your own wallet in multiple currencies </div>
                        </div>
                    </div>

                    <!------ main content ------>
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="card mb-4 shadow card-primary">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Deposit</h6>
                                </div>
                                <div class="card-body">
                                    <form  method="POST">
                                       
                                        <div class="row">
                                            <input type="hidden" name="orderCardId" value="">
                                            <div class="col-md-6 search-currency-dropdown">
                                                <div class="form-group">
                                                    <label for="currency">Currency</label>
                                                    <select id="currency" name="currency" class="form-control ">
																									<option data-currency="USD"
															data-currencytype="1"
															value="USD - US Dollar"
																											
														>
														USD - US Dollar
													</option>
																									<option data-currency="XRP"
															data-currencytype="0"
															value="XRP - Ripple"
																											
														>
														XRP - Ripple
													</option>
																									<option data-currency="BTC"
															data-currencytype="0"
															value="BTC - Bitcoin"
																											
														>
														BTC - Bitcoin
													</option>
																									<option data-currency="ETH"
															data-currencytype="0"
															value="ETH - Ethereum"
																											
														>
														ETH - Ethereum
													</option>
																									<option data-currency="ALGO"
															data-currencytype="0"
															value="ALGO - Algorand"
																											
														>
														ALGO - Algorand
													</option>
																									<option data-currency="XLM"
															data-currencytype="0"
															value="XLM - Stellar"
																											
														>
														XLM - Stellar
													</option>
																									<option data-currency="XDC"
															data-currencytype="0"
															value="XDC - XDC NETWORK"
																											
														>
														XDC - XDC NETWORK
													</option>
																									<option data-currency="Matic"
															data-currencytype="0"
															value="Matic - Polygon"
																											
														>
														Matic - Polygon
													</option>
													</select>
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="amount">Amount</label>
                                                    <input required type="text" id="amount" value="" name="amount" placeholder="0.00" class="form-control " autocomplete="off">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="methodId">Select Payment Method</label>
                                                <div class="form-group">
                                                    <div class="row payment-method-input p-1">
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="0" value="7" checked onClick="bitcoin()" >
                                                                <label class="form-check-label" for="0">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/bitcoin.png">
															</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="1" value="8" onClick="eth()">
                                                                <label class="form-check-label" for="1">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/ethereum.png">
															</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="2" value="10" onClick="xlm()">
                                                                <label class="form-check-label" for="2">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/xlm.png">
															</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="3" value="11" onClick="xrp()">
                                                                <label class="form-check-label" for="3">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/xrp.png">
															</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="4" value="12" onClick="algo()">
                                                                <label class="form-check-label" for="4">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/algo.png">
															</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="5" value="13" onClick="usdt()">
                                                                <label class="form-check-label" for="5">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/usdt trc20.png">
															</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 col-6">
                                                            <div class="form-check form-check-inline mr-0 mb-3">
                                                                <input class="form-check-input methodId" type="radio" name="methodId" id="6" value="14" onClick="matic()">
                                                                <label class="form-check-label" for="6">
																<img
																	src="https://qfsnesara.io/assets/upload/methodLogo/matic.png">
															</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm btn-block">Deposit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 shadow card-primary">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                    
                                </div>
                                <div class="card-body showCharge">
                                    <div id="details"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <script>

                function bitcoin() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>bc1qcvq790fh4rsg4edrdmzcktukdllccq9hdup9xq</sup> <div> <img src={{url_for('static', filename="wallet/btc.jpg")}} />   </div> ";
            contentDiv.innerHTML = address;
          
                }
                
                function usdt() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>TPKjn5UhjyE869M9RcfMjf2XfooXsS6dLt  (TRC 20)</sup> <div> <img src={{url_for('static', filename="wallet/usdt.jpg")}} />   </div> ";
            contentDiv.innerHTML = address;
          
                }

                function xlm() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>GBILYJCSV7AE2HW5P653ZZAXVJTLLJK2AYGAQR35O7IBUAYCPFBJ6BPL</sup> <div> <img src={{url_for('static', filename="wallet/xlm.jpg")}} />   </div> ";
            contentDiv.innerHTML = address;
          
                }

                function xrp() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>rLiVgxWhU9J7vpUEZUwtzw1KkSbJVxi6Jj</sup> <div> <img src={{url_for('static', filename="wallet/xrp.jpg")}} />   </div> ";
            contentDiv.innerHTML = address;
          
                }

                function algo() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>DOTJHG2RDUXD2FC3TITFBCVQOHHTZRALPIJSME25C2KMLZWVT3OX657RRU</sup> <div> <img src={{url_for('static', filename="wallet/algo.jpg")}} />   </div> ";
            contentDiv.innerHTML = address;
          
                }

                function pol() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>0xEF5C58825Bb5D71ecc7a33695b27A1Bc39550353</sup> <div> <img src={{url_for('static', filename="wallet/pol.jpg")}} />   </div> ";
            contentDiv.innerHTML = address;
          
                }

                function eth() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>Unavailable</sup> <div>    </div> ";
            contentDiv.innerHTML = address;
          
                }

                function matic() {
                     // Get the selected radio button value
            
            const contentDiv = document.getElementById("details");
            const address = "<sup>Unavailable</sup> <div>    </div> ";
            contentDiv.innerHTML = address;
          
                }




            </script>

           {% endblock %}