
{% extends 'base.html'%}

{% block body %}

          <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Investment Plan</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active">
                                <a href="dashboard.php">Dashboard</a>
                            </div>
                            <div class="breadcrumb-item">Investment Plan</div>
                        </div>
                    </div>

                    <!-- Deposit Wizard -->
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="card mb-4 shadow card-primary">

                                <div class="col-md-12">
                                    <br>
                                    <form  method="post">
                                        <input type="hidden" name="_token" value="xbegwQlCSk72J9sKURD5zLNTbR0du6Retz0xphju">
                                        <section class=" ">
                                            <div class="bs-stepper horizontal-wizard-example">
                                                <div class="bs-stepper-content">
                                                    <div id="account-details" class="content" role="tabpanel" aria-labelledby="account-details-trigger">
                                                        <div class="content-header">
                                                            <h5 class="mb-0">Investment Plan</h5>
                                                            <small class="text-muted">Please Select A Plan</small>
                                                        </div>
                                                        <div class="row">
                                                            <p id="image"></p>
                                                            <div class="mb-3 col-md-12">
                                                                <label class="form-label" for="username">Plan</label>
                                                                <select id="gateway" onchange="myFunction()" name="plan" class="form-control" required>
              <option selected disabled>Select An Option</option>
                                                        <option
                               data-id="1"
                               data-resource="{&quot;id&quot;:1,&quot;name&quot;:&quot;Bronze&quot;,&quot;currency_id&quot;:1,&quot;min_amount&quot;:&quot;1.00000000&quot;,&quot;max_amount&quot;:&quot;100.00000000&quot;,&quot;total_return&quot;:1,&quot;timer&quot;:90,&quot;interest_type&quot;:0,&quot;interest_amount&quot;:&quot;10.00000000&quot;,&quot;status&quot;:1,&quot;created_at&quot;:&quot;2023-04-19T14:49:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2023-04-19T15:32:36.000000Z&quot;}"
                               data-tenure="1 Days"
                               data-min_amount="1USD"
                               data-max_amount="100USD"
                               data-interest="10.00Fixed  Quaterly"

              > Bronze (Currency: USD )</option>
                                                        <option
                               data-id="2"
                               data-resource="{&quot;id&quot;:2,&quot;name&quot;:&quot;Silve&quot;,&quot;currency_id&quot;:2,&quot;min_amount&quot;:&quot;150.00000000&quot;,&quot;max_amount&quot;:&quot;2000.00000000&quot;,&quot;total_return&quot;:1,&quot;timer&quot;:1,&quot;interest_type&quot;:1,&quot;interest_amount&quot;:&quot;10.00000000&quot;,&quot;status&quot;:1,&quot;created_at&quot;:&quot;2023-04-19T15:33:04.000000Z&quot;,&quot;updated_at&quot;:&quot;2023-04-19T15:33:04.000000Z&quot;}"
                               data-tenure="1 Days"
                               data-min_amount="150XRP"
                               data-max_amount="2,000XRP"
                               data-interest="10.00%  Daily"

              > Silve (Currency: XRP )</option>
                            </select>
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label" for="email">Tenure</label>
                                                                <input type="text" name="tenure" id="tenure" readonly class="form-control" placeholder="0 Days" aria-label="0 Days" />
                                                            </div>

                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label" for="email">Interest</label>
                                                                <input type="text" name="currency" id="interest" readonly class="form-control" placeholder="0" aria-label="0" />
                                                            </div>

                                                            <input type="hidden" id="method_code" name="plan">
                                                        </div>

                                                        <div class="row">
                                                            <div class="mb-3 form-password-toggle col-md-6">
                                                                <label class="form-label" for="Min">Min Amount</label>
                                                                <input type="text" readonly name="min" id="min" class="form-control" placeholder="0.00" />
                                                            </div>
                                                            <div class="mb-3 form-password-toggle col-md-6">
                                                                <label class="form-label" for="Max">Max Amount</label>
                                                                <input type="text" readonly name="max" id="max" class="form-control" placeholder="0.00" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="mb-3 col-md-12">
                                                                <label class="form-label" for="first-name">Amount</label>
                                                                <input type="text" name="amount" id="amount" class="form-control" placeholder="0.00" required />
                                                            </div>
                                                        </div>



                                                        <div class="d-flex justify-content-between mb-3">

                                                            <button class="btn btn-outline-primary btn-next">
            <span class="align-middle d-sm-inline-block d-none">Invest Now</span>
            <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
          </button>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                </section>
                                </form>
                                <!-- /Deposit Wizard -->

                </section>
                </div>

                <script>
                    $(document).ready(function(){
                        setInterval(function(){
                            let rnum = getRandomInt(5,500);
                            $('#digit').html(rnum);
                        },5000)
                        
                    });
    
                    function getRandomInt(min, max) {
                        min = Math.ceil(min);
                        max = Math.floor(max);
                        return Math.floor(Math.random() * (max - min + 1)) + min;
                    }
            </script>
    
                    <script>
                        $(document).ready(function() {
                            $(document).ajaxStart(function() {
                                $('#wait').removeClass('d-none').show();
                            });
                            $(document).ajaxComplete(function() {
                                $('#wait').hide();
                            });
                        });
                    </script>
    
                    <script>
                        'use strict';
                        let pushNotificationArea = new Vue({
                            el: "#pushNotificationArea",
                            data: {
                                items: [],
                            },
                            beforeMount() {
                                this.getNotifications();
                                this.pushNewItem();
                            },
                            methods: {
                                getNotifications() {
                                    let app = this;
                                    axios.get("https://qfsnesara.io/user/push-notification-show")
                                        .then(function(res) {
                                            app.items = res.data;
                                        })
                                },
                                readAt(id, link) {
                                    let app = this;
                                    let url = "https://qfsnesara.io/user/push-notification-readAt/0";
                                    url = url.replace(/.$/, id);
                                    axios.get(url)
                                        .then(function(res) {
                                            if (res.status) {
                                                app.getNotifications();
                                                if (link !== '#') {
                                                    window.location.href = link
                                                }
                                            }
                                        })
                                },
                                readAll() {
                                    let app = this;
                                    let url = "https://qfsnesara.io/user/push.notification.readAll";
                                    axios.get(url)
                                        .then(function(res) {
                                            if (res.status) {
                                                app.items = [];
                                            }
                                        })
                                },
                                pushNewItem() {
                                    let app = this;
                                    Pusher.logToConsole = false;
                                    let pusher = new Pusher("your_app_KEY", {
                                        encrypted: true,
                                        cluster: "ap2"
                                    });
                                    let channel = pusher.subscribe('user-notification.' + "118");
                                    channel.bind('App\\Events\\UserNotification', function(data) {
                                        app.items.unshift(data.message);
                                    });
                                    channel.bind('App\\Events\\UpdateUserNotification', function(data) {
                                        app.getNotifications();
                                    });
                                }
                            }
                        });
    
                        // for search
                        $(document).on('input', '.global-search', function() {
                            var search = $(this).val().toLowerCase();
    
                            if (search.length == 0) {
                                $('.search-result').find('.content').html('');
                                $(this).siblings('.search-backdrop').addClass('d-none');
                                $(this).siblings('.search-result').addClass('d-none');
                                return false;
                            }
    
                            $('.search-result').find('.content').html('');
                            $(this).siblings('.search-backdrop').removeClass('d-none');
                            $(this).siblings('.search-result').removeClass('d-none');
    
                            var match = $('.sidebar-menu li').filter(function(idx, element) {
                                if (!$(element).find('a').hasClass('has-dropdown') && !$(element).hasClass('menu-header'))
                                    return $(element).text().trim().toLowerCase().indexOf(search) >= 0 ? element : null;
                            }).sort();
    
                            if (match.length == 0) {
                                $('.search-result').find('.content').append(`<div class="search-item"><a href="javascript:void(0)">No result found</a></div>`);
                                return false;
                            }
    
                            match.each(function(index, element) {
                                var item_text = $(element).text().replace(/(\d+)/g, '').trim();
                                var item_url = $(element).find('a').attr('href');
                                if (item_url != '#') {
                                    $('.search-result').find('.content').append(`<div class="search-item"><a href="${item_url}">${item_text}</a></div>`);
                                }
                            });
                        });
                    </script>
    
    
    
                    <script>
                        function myFunction() {
                            var method_code = $("#gateway option:selected").attr('data-id');
                            var tenure = $("#gateway option:selected").attr('data-tenure');
                            var interest = $("#gateway option:selected").attr('data-interest');
                            var min_amount = $("#gateway option:selected").attr('data-min_amount');
                            var max_amount = $("#gateway option:selected").attr('data-max_amount');
                            document.getElementById("min").value = min_amount;
                            document.getElementById("max").value = max_amount;
                            document.getElementById("interest").value = interest;
                            document.getElementById("tenure").value = tenure;
                            document.getElementById("method_code").value = method_code;
    
                        };
                    </script>
            {% endblock %}