{% extends 'base.html' %}

{% block body %}
<div class="main-content" >
    <section class="section">
        
<div class="container mt-5">
    <h2>Profile</h2>
    <form method="POST" action="{{ url_for('dashboard.profile') }}">
        <div class="form-group">
            <label for="full_name">Full Name</label>
            <input type="text" class="form-control" id="full_name" name="full_name" value="{{ current_user.full_name }}" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ current_user.email }}" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update Email</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
    </section>
</div>
{% endblock %}