

{% extends 'base.html'%}

{% block body %}
 		<div class="main-content">
		<section class="section">
			<div class="section-header">
				<h1>My Virtual Cards</h1>
				<div class="section-header-breadcrumb">
					<div class="breadcrumb-item active">
						<a href="#">Dashboard</a>
					</div>
					<div class="breadcrumb-item">My Virtual Cards</div>
				</div>
			</div>
			<!------ alert ------>
			<div class="row ">
				<div class="col-md-12">
					<div class="bd-callout bd-callout-primary mx-2">
						<i class="fa-3x fas fa-info-circle text-primary"></i> A “virtual card” is stored on your phone and can be used to pay contactless in stores or online, but has its own unique card number, expiry date, and CVC.					</div>
				</div>
			</div>

						{% if not current_user.card_requested %}
						<div class="row mb-3">
				<div class="container-fluid" id="container-wrapper">
					<div class="row justify-content-md-center">
					
					<div class="col-md-4 p-2">
							<!-- <a id="postButton" class="decoration__none">
								<div class="bank-card-box">
									<div class="top-area">
										<div class="icon">
											<i class="fas fa-credit-card"></i>
										</div>
										<div class="text">
											<div class="d-flex justify-content-start">
												<h5 class="mr-2">Request ATM Card</h5>
																							</div>
											<span
												class="text-danger">Per Card Request Charge 20 USD</span>
										</div>
									</div>
								</div>
							</a> -->

							<form  method="post" class="blockForm">
								<div class="form-control">
									<select name="type" id="">
										<option selected disabled>Choose Virtual Card Type</option>
										<option value="VISA">VISA</option>
										<option value="MASTERCARD">MASTERCARD</option>
										<option value="VERVE">VERVE</option>
									</select>
								</div>
								<div class="form-control">
									<button type="submit" class="btn btn-dark">Create Card</button>
									
								</div>
							</form>


						</div>
					

						<div class="col-md-4 p-2">
							
							<!-- card div here -->

						</div>
                          
										<!--<div class="col-md-4 p-2">
							<a href="request.php" class="decoration__none">
								<div class="bank-card-box">
									<div class="top-area">
										<div class="icon">
											<i class="fas fa-credit-card"></i>
										</div>
										<div class="text">
											<div class="d-flex justify-content-start">
												<h5 class="mr-2">Request ATM Card</h5>
																							</div>
											<span
												class="text-danger">Per Card Request Charge 20 USD</span>
										</div>
									</div>
								</div>
							</a>
						</div>-->

					</div>
				</div>
			</div>
						{% endif %}


		</section>
	</div>
	
	
	<div id="blockRqst" class="modal fade" tabindex="-1" role="dialog"
		 aria-labelledby="primary-header-modalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-dark font-weight-bold"
						id="primary-header-modalLabel">Block Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<form  method="post" class="blockForm">
					<input type="hidden" name="_token" value="Pn0pf6rk9qjdwTgRFkbLsZZuJaTurUSBWFEmgVXd">					<div class="modal-body">
						<p>Are You sure to send block request for this card ?</p>
						<div class="row">
							<div class="col-md-12">
								<label>Reason For Block</label>
								<textarea class="form-control" name="reason"></textarea>
															</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Yes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	
	<div id="fundRqst" class="modal fade" tabindex="-1" role="dialog"
		 aria-labelledby="primary-header-modalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-dark font-weight-bold"
						id="primary-header-modalLabel">Add Fund Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<form action="#" method="post" class="blockForm">
					<input type="hidden" name="_token" value="Pn0pf6rk9qjdwTgRFkbLsZZuJaTurUSBWFEmgVXd">					<div class="modal-body">
						<p>Are You sure to send fund request for this card ?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Yes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- <script>
		document.getElementById('postButton').addEventListener('click', function() {
			// Get the current URL
			const currentUrl = window.location.href;
		
			// Define the data to send
			const data = {
				key1: 'value1',
				key2: 'value2'
			};
		
			// Send the POST request
			fetch(currentUrl, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(data),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success:', data);
				window.location.reload();
			})
			.catch((error) => {
				console.error('Error:', error);
			});
			window.location.reload();
		});
	</script> -->

		{% endblock %}