{% extends 'base.html'%}

{% block body %}	
<div class="main-content">
	<section class="section">
		<div class="section-header">
			<h1>Redeem Generate</h1>
			<div class="section-header-breadcrumb">
				<div class="breadcrumb-item active">
					<a href="dashboard.php">Dashboard</a>
				</div>
				<div class="breadcrumb-item">Redeem Generate</div>
			</div>
		</div>

			<!------ alert ------>
			<div class="row ">
				<div class="col-md-12">
					<div class="bd-callout bd-callout-primary mx-2">
						<i class="fa-3x fas fa-info-circle text-primary"></i> Generate redeem code and share with your desire one and he/she will get the credit up.					</div>
				</div>
			</div>


		<div class="row mb-3">
			<div class="container-fluid" id="container-wrapper">
				<div class="row justify-content-md-center">
					<div class="col-md-6">
						<div class="card mb-4 card-primary shadow">
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">Generate Redeem Code</h6>
							</div>
							<div class="card-body">
								<form  method="post">
									<input type="hidden" name="_token" value="Pn0pf6rk9qjdwTgRFkbLsZZuJaTurUSBWFEmgVXd">									<div class="row">
										<div class="col-md-6">
											<div class="form-group search-currency-dropdown">
												<label for="currency">Currency</label>
												<select id="currency" name="currency"
														class="form-control ">
														<option data-from_code="USD"
														data-currencytype="1"
														value="USD">
													USD - US Dollar </option>
																								<option data-from_code="XRP"
														data-currencytype="0"
														value="XRP">
													XRP - Ripple </option>
																								<option data-from_code="BTC"
														data-currencytype="0"
														value="BTC">
													BTC - Bitcoin </option>
																								<option data-from_code="ETH"
														data-currencytype="0"
														value="ETH">
													ETH - Ethereum </option>
																								<option data-from_code="ALGO"
														data-currencytype="0"
														value="ALGO">
													ALGO - Algorand </option>
																								<option data-from_code="XLM"
														data-currencytype="0"
														value="XLM">
													XLM - Stellar </option>
																								<option data-from_code="XDC"
														data-currencytype="0"
														value="XDC">
													XDC - XDC NETWORK </option>
																								<option data-from_code="Matic"
														data-currencytype="0"
														value="MATIC">
													Matic - Polygon </option>
																									</select>
												<div class="invalid-feedback">
																									</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="amount">Amount</label>
												<input type="text" id="amount" value="" name="amount"
													   placeholder="0.00"
													   class="form-control "
													   autocomplete="off">
												<div class="invalid-feedback">
																									</div>
												<div class="valid-feedback"></div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="custom-switch" for="charge_from">
											<input type="checkbox" name="charge_from" id="charge_from" class="custom-switch-input" value="1">
											<span class="custom-switch-indicator"></span>
											<span class="custom-switch-description">Receiver will pay the txn charge</span>
											<i class="fas fa-info-circle details-icon" data-toggle="tooltip" data-placement="top"
										   title="If enable transaction charge will deduct from receiver"></i>
										</label>
									</div>
									<div class="form-group">
										<label for="note">Note</label>
										<textarea name="note" rows="5" class="form-control form-control-sm"></textarea>
									</div>
									<button type="submit" id="submit" class="btn btn-primary btn-sm btn-block"
											>Generate</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4 card-primary shadow">
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">Details</h6>
							</div>
							<div class="card-body showCharge">
								{% if code %}
									<sup>This is your reedeme code: {{code}}</sup>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>
{% endblock %}