

{% extends 'base.html'%}

{% block body %}

<div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Request Money</h1>
                      
                    </div>

                    <!------ alert ------>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="bd-callout bd-callout-primary mx-2">
                                <i class="fa-3x fas fa-info-circle text-primary"></i> Send request for money to your desire one instantly. </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="container-fluid" id="container-wrapper">
                            <div class="row justify-content-md-center">
                                <div class="col-md-12">
                                    <div class="card card-primary shadow mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Request Money</h6>
                                        </div>
                                        <div class="card-body">
                                            <form method="post">
                                                <!--<input type="hidden" name="_token" value="xbegwQlCSk72J9sKURD5zLNTbR0du6Retz0xphju">-->
                                                <div class="form-group">
                                                    <label for="recipient">Recipient email or username</label>
                                                    <input type="text" name="recipient" id="recipient" placeholder="Please enter valid email or username" autocomplete="off" value="" class="form-control ">
                                                    <div class="invalid-feedback">
                                                    </div>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group search-currency-dropdown">
                                                            <label for="currency">Currency</label>
                                                            <select id="currency" name="currency" class="form-control ">
																											<option value="USD - US Dollar"
																data-currencytype="1" >
															USD - US Dollar</option>
																											<option value="XRP - Ripple"
																data-currencytype="0" >
															XRP - Ripple</option>
																											<option value="BTC - Bitcoin"
																data-currencytype="0" >
															BTC - Bitcoin</option>
																											<option value="ETH - Ethereum"
																data-currencytype="0" >
															ETH - Ethereum</option>
																											<option value="ALGO - Algorand"
																data-currencytype="0" >
															ALGO - Algorand</option>
																											<option value="XLM - Stellar"
																data-currencytype="0" >
															XLM - Stellar</option>
																											<option value="XDC - XDC NETWORK"
																data-currencytype="0" >
															XDC - XDC NETWORK</option>
																											<option value="Matic - Polygon"
																data-currencytype="0" >
															Matic - Polygon</option>
																									</select>
                                                            <div class="invalid-feedback">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="amount">Amount</label>
                                                            <input type="text" id="amount" value="" name="amount" placeholder="0.00" class="form-control " autocomplete="off">
                                                            <div class="invalid-feedback">
                                                            </div>
                                                            <div class="valid-feedback"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="address">Wallet Address</label>
                                                            <input type="text" id="address" value="" name="wallet_address"  class="form-control " autocomplete="off">
                                                            <div class="invalid-feedback">
                                                            </div>
                                                            <div class="valid-feedback"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="note">Note</label>
                                                    <textarea name="note" rows="5" class="form-control form-control-sm"></textarea>
                                                </div>
                                                <div class="form-group mt-3 security-block">
                                                </div>
                                                <button type="submit" id="submit" class="btn btn-primary btn-sm btn-block">Request Money</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
</div>
        
 {% endblock %}                