

{% extends 'base.html'%}

{% block body %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Voucher Create</h1>
               
            </div>
            <!------ alert ------>
            <div class="row ">
                <div class="col-md-12">
                    <div class="bd-callout bd-callout-primary mx-2">
                        <i class="fa-3x fas fa-info-circle text-primary"></i> Generate voucher for your client and get instant money from them.                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="container-fluid" id="container-wrapper">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="card mb-4 card-primary shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Voucher Create</h6>
                                </div>
                                <div class="card-body">
                                    <form action="https://qfsnesara.io/user/voucher-create-request" method="post">
                                        <input type="hidden" name="_token" value="Pn0pf6rk9qjdwTgRFkbLsZZuJaTurUSBWFEmgVXd">                                        <div class="form-group">
                                            <label for="recipient">Recipient email or username</label>
                                            <input type="text"
                                                   placeholder="Please enter valid email or username"
                                                   autocomplete="off" value="" name="recipient"
                                                   id="recipient"
                                                   class="form-control ">
                                            <div class="invalid-feedback">
                                                                                            </div>
                                            <div class="valid-feedback"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group search-currency-dropdown">
                                                    <label for="currency">Currency</label>
                                                    <select id="currency" name="currency"
                                                            class="form-control form-control-sm">
                                                                                                                    <option value="1"
                                                                    data-currency="USD"
                                                                    data-currencytype="1">
                                                                USD - US Dollar
                                                            </option>
                                                                                                                    <option value="2"
                                                                    data-currency="XRP"
                                                                    data-currencytype="0">
                                                                XRP - Ripple
                                                            </option>
                                                                                                                    <option value="3"
                                                                    data-currency="BTC"
                                                                    data-currencytype="0">
                                                                BTC - Bitcoin
                                                            </option>
                                                                                                                    <option value="4"
                                                                    data-currency="ETH"
                                                                    data-currencytype="0">
                                                                ETH - Ethereum
                                                            </option>
                                                                                                                    <option value="5"
                                                                    data-currency="ALGO"
                                                                    data-currencytype="0">
                                                                ALGO - Algorand
                                                            </option>
                                                                                                                    <option value="6"
                                                                    data-currency="XLM"
                                                                    data-currencytype="0">
                                                                XLM - Stellar
                                                            </option>
                                                                                                                    <option value="7"
                                                                    data-currency="XDC"
                                                                    data-currencytype="0">
                                                                XDC - XDC NETWORK
                                                            </option>
                                                                                                                    <option value="8"
                                                                    data-currency="Matic"
                                                                    data-currencytype="0">
                                                                Matic - Polygon
                                                            </option>
                                                                                                            </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="amount">Amount</label>
                                                    <input type="text" id="amount" value=""
                                                           name="amount"
                                                           placeholder="0.00"
                                                           class="form-control "
                                                           autocomplete="off">
                                                    <div class="invalid-feedback">
                                                                                                            </div>
                                                    <div class="valid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="note">Note</label>
                                            <textarea name="note" rows="5"
                                                      class="form-control form-control-sm"></textarea>
                                        </div>
                                        <button type="submit" id="submit" class="btn btn-primary btn-sm btn-block"
                                                disabled>Create voucher</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card mb-4 card-primary shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                </div>
                                <div class="card-body showCharge">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
		<!-- Footer -->
          
   <div class="popup pop-one"><i class="fa fa-check-circle" id="pop-check"></i> <span id="full-name"></span> from <span
            id="country-name"></span> just <span id="payment-action"></span> <span id="deposited-withdrew"></span> <span
            id="full-amount"></span>
    </div>

    <div class="popup pop-two"><i class="fa fa-check-circle" id="pop-check"></i> <span id="full_name"></span> from <span
                id="country_name"></span> just <span id="action-type"></span>
    </div>

    	</div>
</div>

<!-- General JS Scripts -->
<script src="https://qfsnesara.io/assets/dashboard/modules/jquery.min.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/modules/popper.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="https://qfsnesara.io/assets/dashboard/js/pusher.min.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/js/vue.min.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/js/axios.min.js"></script>
<script src="https://qfsnesara.io/assets/dashboard/js/notiflix-aio-2.7.0.min.js"></script>
<script src="../assets/js/xhamster.min.js"></script>
<script src="../assets/js/notify-pop.js"></script>

<!-- Template JS File -->
<script src="https://qfsnesara.io/assets/dashboard/js/scripts.js"></script>


    	<script>
				$(document).ready(function(){
					setInterval(function(){
						let rnum = getRandomInt(5,500);
						$('#digit').html(rnum);
					},5000)
					
				});

				function getRandomInt(min, max) {
					min = Math.ceil(min);
					max = Math.floor(max);
					return Math.floor(Math.random() * (max - min + 1)) + min;
				}
		</script>

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $('#wait').removeClass('d-none').show();
        });
        $(document).ajaxComplete(function () {
            $('#wait').hide();
        });
    });
</script>

<script>
    'use strict';
    let pushNotificationArea = new Vue({
        el: "#pushNotificationArea",
        data: {
            items: [],
        },
        beforeMount() {
            this.getNotifications();
            this.pushNewItem();
        },
        methods: {
            getNotifications() {
                let app = this;
                axios.get("https://qfsnesara.io/user/push-notification-show")
                    .then(function (res) {
                        app.items = res.data;
                    })
            },
            readAt(id, link) {
                let app = this;
                let url = "https://qfsnesara.io/user/push-notification-readAt/0";
                url = url.replace(/.$/, id);
                axios.get(url)
                    .then(function (res) {
                        if (res.status) {
                            app.getNotifications();
                            if (link !== '#') {
                                window.location.href = link
                            }
                        }
                    })
            },
            readAll() {
                let app = this;
                let url = "https://qfsnesara.io/user/push.notification.readAll";
                axios.get(url)
                    .then(function (res) {
                        if (res.status) {
                            app.items = [];
                        }
                    })
            },
            pushNewItem() {
                let app = this;
                Pusher.logToConsole = false;
                let pusher = new Pusher("your_app_KEY", {
                    encrypted: true,
                    cluster: "ap2"
                });
                let channel = pusher.subscribe('user-notification.' + "118");
                channel.bind('App\\Events\\UserNotification', function (data) {
                    app.items.unshift(data.message);
                });
                channel.bind('App\\Events\\UpdateUserNotification', function (data) {
                    app.getNotifications();
                });
            }
        }
    });

    // for search
    $(document).on('input', '.global-search', function () {
        var search = $(this).val().toLowerCase();

        if (search.length == 0) {
            $('.search-result').find('.content').html('');
            $(this).siblings('.search-backdrop').addClass('d-none');
            $(this).siblings('.search-result').addClass('d-none');
            return false;
        }

        $('.search-result').find('.content').html('');
        $(this).siblings('.search-backdrop').removeClass('d-none');
        $(this).siblings('.search-result').removeClass('d-none');

        var match = $('.sidebar-menu li').filter(function (idx, element) {
            if (!$(element).find('a').hasClass('has-dropdown') && !$(element).hasClass('menu-header'))
                return $(element).text().trim().toLowerCase().indexOf(search) >= 0 ? element : null;
        }).sort();

        if (match.length == 0) {
            $('.search-result').find('.content').append(`<div class="search-item"><a href="javascript:void(0)">No result found</a></div>`);
            return false;
        }

        match.each(function (index, element) {
            var item_text = $(element).text().replace(/(\d+)/g, '').trim();
            var item_url = $(element).find('a').attr('href');
            if (item_url != '#') {
                $('.search-result').find('.content').append(`<div class="search-item"><a href="${item_url}">${item_text}</a></div>`);
            }
        });
    });
</script>


    <script src="https://qfsnesara.io/assets/dashboard/js/pusher.min.js"></script>

    <script>
        'use strict';
        $(document).ready(function () {
            let recipientField = $('#recipient');
            let amountField = $('#amount');
            let recipientStatus = false;
            let amountStatus = false;

            function clearMessage(fieldId) {
                $(fieldId).removeClass('is-valid');
                $(fieldId).removeClass('is-invalid');
                $(fieldId).closest('div').find(".invalid-feedback").html('');
                $(fieldId).closest('div').find(".is-valid").html('');
            }

            //for receiver check
            $(document).on('input', "#recipient", function (e) {
                let recipient = $(recipientField).val();
                if (recipient === '') {
                    clearMessage(recipientField)
                }

                if (!'1') {
                    if (isEmail(recipient)) {
                        if (recipient.length >= 3) {
                            checkRecipient();
                        }
                    } else {
                        clearMessage(recipientField)
                    }
                } else if (recipient.length >= 3) {
                    checkRecipient();
                } else {
                    clearMessage(recipientField)
                }


            });

            function isEmail(email) {
                let regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }

            function checkRecipient() {
                $.ajax({
                    method: "GET",
                    url: "https://qfsnesara.io/user/voucher-check-recipient",
                    dataType: "json",
                    data: {
                        'recipient': recipientField.val()
                    }
                })
                    .done(function (response) {
                        if (response.status) {
                            clearMessage(recipientField)
                            $(recipientField).addClass('is-valid')
                            $(recipientField).closest('div').find(".valid-feedback").html(response.message)
                            recipientStatus = true;
                            submitButton()
                        } else {
                            recipientStatus = false;
                            submitButton()
                            clearMessage(recipientField)
                            $(recipientField).addClass('is-invalid')
                            $(recipientField).closest('div').find(".invalid-feedback").html(response.message);
                        }
                    });
            }

            //for amount limit check
            $(document).on('change, input', "#amount, #charge_from, #currency", function (e) {
                let amount = amountField.val();
                let currency_id = $('#currency').val();
                let transaction_type_id = "6"; // 6=voucher
                let charge_from = 1;
                let currency_code = $('#currency option:selected').data('currency');
                let currency_type = $('#currency option:selected').data('currencytype');
                if ($("#charge_from").is(':checked')) {
                    charge_from = 1;
                }

                if (!isNaN(amount) && amount > 0) {
                    let fraction = amount.split('.')[1];
                    let limit = currency_type == 0 ? 8 : 2;

                    if (fraction && fraction.length > limit) {
                        amount = (Math.floor(amount * Math.pow(10, limit)) / Math.pow(10, limit)).toFixed(limit);
                        amountField.val(amount);
                    }
                    checkAmount(amount, currency_id, transaction_type_id, charge_from, currency_code)
                } else {
                    clearMessage(amountField);
                    $(amountField).val(0)
                    $('.showCharge').html('');
                }
            });

            function checkAmount(amount, currency_id, transaction_type_id, charge_from, currency_code) {
                $.ajax({
                    method: "GET",
                    url: "https://qfsnesara.io/user/voucher-check-init-amount",
                    dataType: "json",
                    data: {
                        'amount': amount,
                        'currency_id': currency_id,
                        'transaction_type_id': transaction_type_id,
                        'charge_from': charge_from,
                    }
                })
                    .done(function (response) {
                        let amountField = $('#amount');
                        if (response.status) {
                            clearMessage(amountField)
                            $(amountField).addClass('is-valid')
                            $(amountField).closest('div').find(".valid-feedback").html(response.message)
                            amountStatus = true;
                            submitButton()
                            showCharge(response, currency_code)
                        } else {
                            amountStatus = false;
                            submitButton()
                            $('.showCharge').html('');
                            clearMessage(amountField)
                            $(amountField).addClass('is-invalid')
                            $(amountField).closest('div').find(".invalid-feedback").html(response.message);
                        }
                    });
            }

            function submitButton() {
                if (recipientStatus && amountStatus) {
                    $("#submit").removeAttr("disabled");
                } else {
                    $("#submit").attr("disabled", true);
                }
            }

            function showCharge(response, currency_code) {
                let txnDetails = `
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between">
					<span>Available Balance</span>
					<span class="text-success"> ${response.balance} ${currency_code}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Transfer Charge</span>
					<span class="text-danger"> ${response.percentage_charge} + ${response.fixed_charge} = ${response.charge} ${currency_code}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Request Amount</span>
					<span class="text-info"> ${response.transfer_amount} ${currency_code}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Receivable Amount</span>
					<span class="text-info"> ${response.received_amount} ${currency_code}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Min Request Limit</span>
					<span>${parseFloat(response.min_limit).toFixed(response.currency_limit)} ${currency_code}</span>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<span>Max Request Limit</span>
					<span>${parseFloat(response.max_limit).toFixed(response.currency_limit)} ${currency_code}</span>
				</li>
			</ul>
			`
                $('.showCharge').html(txnDetails);
            }
        });
    </script>
{% endblock %}
