<!DOCTYPE html />
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"  >
<!--<![endif]-->


<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="nesara qfs wallet paper money quantum finance"/>
    <meta name="description" content="QFS literal meaning is Quantum Financial System, which is an advanced financial system launched to eradicate monopoly on monetary system and for that purpose, a system that comprises of Artificial Intelligence and complex computer programs fully backed by banks is needed.">
    <meta name="keywords" content="nesara qfs wallet paper money quantum finance">
    <link rel="shortcut icon" href={{url_for('static', filename="landing/assets/upload/logo/favicon.png")}} type="image/x-icon">
    <link rel="apple-touch-icon" href={{url_for('static', filename="landing/assets/upload/logo/favicon.png")}}>
    <link rel="icon" type="image/png" sizes="16x16" href={{url_for('static', filename="landing/assets/upload/logo/favicon.png")}}>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta itemprop="description" content="QFS literal meaning is Quantum Financial System, which is an advanced financial system launched to eradicate monopoly on monetary system and for that purpose, a system that comprises of Artificial Intelligence and complex computer programs fully backed by banks is needed.">
    <meta itemprop="image" content="https://qfsnesara.io/assets/upload/logo/meta.png600x315">
    <meta property="og:type" content="website">
    <meta property="og:title" content="qfs world quantum financial service nesara">
    <meta property="og:description" content="QFS literal meaning is Quantum Financial System, which is an advanced financial system launched to eradicate monopoly on monetary system and for that purpose, a system that comprises of Artificial Intelligence and complex computer programs fully backed by banks is needed.">
    <meta property="og:image" content={{url_for('static', filename="landing/qfsnesara.io/assets/upload/logo/meta.png")}}/>
    <meta property="og:image:type"
          content="image/png"/>
    <meta property="og:url" content="https://qfsnesara.io/user/password/reset">
    <link href={{url_for('static', filename="landing/assets/upload/logo/logo.png")}} rel="icon">
    <title> Reset Password | Qfs Access </title>

	<link href={{url_for('static', filename="landing/assets/frontend/css/bootstrap.min.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/animate.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/all.min.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/line-awesome.min.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/lightbox.min.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/odometer.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/owl.min.css")}} rel="stylesheet" type="text/css">
<link href={{url_for('static', filename="landing/assets/frontend/css/main.css")}} rel="stylesheet" type="text/css">

<script src={{url_for('static', filename="landing/assets/frontend/js/modernizr.custom.js")}}></script>

    <!--[if lt IE 9]>
    <script type="application/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")}}></script>
    <script type="application/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")}}></script>
    <![endif]-->
</head>

<body class="home">
			    <!-- Account -->
		<section class="account-section bg--title" style="border-bottom: 1px solid #5f5f5f">
			<div class="container">
				<div class="row justify-content-center flex-wrap-reverse gy-4 align-items-center">
					<div class="col-lg-6 col-xl-5 col-xxl-4">
						<div class="section__title text--white text-center text-lg-start">
							<span class="section__cate">Reset Password</span>
							<h3 class="section__title">Get reset password link</h3>
							<p>
								password							</p>
							<a href="{{url_for('frontend.home_2')}}" class="cmn--btn btn-outline btn-sm mt-3"><i class="las la-angle-left"></i>
								Back To Home							</a>
						</div>
					</div>
					<div class="col-lg-6 col-xxl-5">
						<div class="account__wrapper bg--body">
							<div class="account-logo">
								<a href="{{url_for('frontend.home_2')}}">
									<img src={{url_for('static', filename="landing/assets/upload/logo/logo.png")}} alt="Qfs Access">
								</a>
							</div>
							
							<form  class="account-form" method="POST">
								<input type="hidden" name="_token" value="R9vItirJLzZ02OYcyBEZk32MxQRNr2SZv9uxvQQa">								
								<div class="form--group">
									<input type="password" name="password" class="form-control form--control " id="password">
									<input type="hidden" value="reset" name="reset">
									<label for="password" class="form--label prevent-select">Enter New Password </label>

									<div class="invalid-feedback">
																			</div>
								</div>
								<div class="form--group">
									<input type="password" name="password_confirm" class="form-control form--control " id="password_confirm">
									<input type="hidden" value="reset" name="reset">
									<label for="password_confirm" class="form--label prevent-select">Confirm New Password</label>

									<div class="invalid-feedback">
																			</div>
								</div>

								<div class="form--group mb-4">
									<button type="submit" name="submit"
										class="cmn--btn w-100 justify-content-center text--white border-0">Submit</button>
								</div>
								<div class="form--group mb-4">
									{% with messages = get_flashed_messages(with_categories=true) %}
										{% if messages %}
										<ul class=flashes>
										{%  for category, message in messages  %}
										<li><a  class="btn btn-{{category}} btn-buy-now">{{ message }}</a></li>
										{% endfor %}
										</ul>
									  {% endif %}
									  {% endwith %}
								</div>
								<div class="form--group mb-0 text-center">
									Already have an account? <a href="{{url_for('dashboard.sign_in')}}" class="text--base">Sign In</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Account -->
		<script src={{url_for('static', filename="landing/assets/frontend/js/jquery-3.6.0.min.js")}}></script>
<script src={{url_for('static', filename="landing/assets/frontend/js/bootstrap.min.js")}}></script>
<script src={{url_for('static', filename="landing/assets/frontend/js/viewport.jquery.js")}}></script>
<script src={{url_for('static', filename="landing/assets/frontend/js/odometer.min.js")}}></script>
<script src={{url_for('static', filename="landing/assets/frontend/js/lightbox.min.js")}}></script>
<script src={{url_for('static', filename="landing/assets/frontend/js/owl.min.js")}}></script>
<script src={{url_for('static', filename="landing/assets/frontend/js/main.js")}}></script>
<script src={{url_for('static', filename="landing/assets/dashboard/js/notiflix-aio-2.7.0.min.js")}}></script>




<script defer>
	$('.selectLanguage').change(function () {
		location.href = $(this).val();
	});
</script>


<script>
	"use strict";
	var root = document.querySelector(':root');
	root.style.setProperty('--base-clr', '#ff6c0a');
	root.style.setProperty('--base-bg', 'linear-gradient(170.04deg, #ff6c0a -8.91%, #020075 99.52%)');


</script>

	<script>
	$(document).on('click','.removeStatus', function (){
		$.ajax({url: "https://qfsnesara.io/removeStatus", success: function(result){
			}});

	})
</script>
	</body>

<!-- Mirrored from qfsaccessaccount.net/user/password/reset.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Jul 2024 07:47:11 GMT -->
</html>
