<html>
             <head></head>
                        <body>
                            <p>Hi!<br>
                                 Welcoome to QFSS!<br>
                                 Here is the <a href="{{email_link}}">link</a> to verify your account.
                                 <br>
                                 or copy the link below to your browser to verify your account <br>  <br> <br> <i><pre>{{email_link}}</pre></i>
                            </p>
                        </body>
</html>