<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href={{url_for('static', filename="landing/QAA.png")}} rel="icon">
    <title> Dashboard | Qfs Access Account </title>

      <!-- General CSS Files -->
   <!--<link rel="stylesheet" href="../assets/dashboard/modules/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Template CSS -->
    <link rel="stylesheet" href="https://qfsaccessaccount.net/dashboard/assets/dashboard/css/style.css">
    <link rel="stylesheet" href="https://qfsaccessaccount.net/dashboard/assets/dashboard/css/components.css">
    <style>
         .pop-one{
            top: 20%;
        }

        .pop-two{
            top: 30%;
        }
        .popup {
            display: none;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            /*background-color: #000;*/
            background-color: #147917;
            position: fixed;
            text-align: center;
            color: #fff;
            padding: 10px;
            border-radius: 6px;
            /*top: 30%;*/
            right: 1%;
            z-index: 100;
            font-weight: bolder;
        }
      
        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }
        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }  
.online-stat{
	position:relative;
	width: 100px;
	height: 30px;
    margin-left: 20%;
	/* bottom: 5%; */
    /* right: 40%; */
	/* z-index: 20; */
}

.circle{
	font-weight: bold;
	font-size: 40px;
	color: green;
}
/* .online{
	color: #fff;
} */
    </style></head>

<style>
    .body-bg{
        overflow-x: hidden;
        transition: background-color 1s ease;
        background-color: #000000;
    }
    
    #preloader {
        position: fixed;
        top: 0;
        /* z-index: 9999; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-animation: blinkFadeScale 2s linear infinite;
        animation: blinkFadeScale 2s linear infinite;
    }
    
    #preloader img{
        width: 100px;
        
    }
    
    @keyframes blinkFadeScale {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    }
    .blinking-image {
        animation: blinkFadeScale 2s infinite;
    }
    #content {
        display: none;
    }

    #line-chart{
        z-index:-1;
    }
</style>

<body class=" body-bg">
    <div id="preloader">
        <img src={{url_for('static', filename="landing/QFS AA.png")}}  alt="" >
    </div>

    <div id="content">
            <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <!-- Top Navbar -->
            <div class="navbar-bg"></div>
                        <nav class="navbar navbar-expand-lg main-navbar" style:"background-color: #147917;">

                <!--------------- Search -------------->
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="javascript:void(0)" data-toggle="sidebar" class="nav-link nav-link-lg"><i
						class="fas fa-bars"></i></a></li>
                        <li><a href="javascript:void(0)" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
						class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control global-search" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <span class="btn"><i class="fas fa-search"></i></span>
                        <div class="search-backdrop d-none"></div>
                        <div class="search-result d-none">
                            <div class="search-header">
                                Result </div>
                            <div class="content"></div>
                        </div>
                    </div>
                    
                </form>
                <div class="form--group mb-4">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <ul class='flashes'>
                        {%  for category, message in messages  %}
                        <li><a  class="btn btn-{{category}} btn-buy-now">{{ message }}</a></li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                      {% endwith %}
                </div>

                <ul class="navbar-nav navbar-right">

                    <!--------------- Notifications -------------->
                    <li class="dropdown dropdown-list-toggle" id="pushNotificationArea">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg" :class="items.length ? 'beep' : '' ">
				<i class="far fa-bell"></i>
			</a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right shadow">
                            <div class="dropdown-header text-center text-uppercase">Notifications </div>
                            <div class="notification-panel">
                                <div class="dropdown-list-content dropdown-list-icons" v-for="(item, index) in items" href="javascript:void(0)" @click.prevent="readAt(item.id, item.description.link)">
                                    <a class="dropdown-item dropdown-item-unread">
                                        <div class="dropdown-item-icon bg-primary text-white">
                                            <i :class="item.description.icon"></i>
                                        </div>
                                        <div class="dropdown-item-desc" v-cloak>
                                            descr
                                            <div class="time text-primary" v-cloak>date</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown-footer text-center align-items-center single-border-top">
                                <a href="javascript:void(0)" class="notification-clear-btn no-underline text-capitalize" v-if="items.length > 0" @click.prevent="readAll">Clear all</a>
                                <a href="javascript:void(0)" class="no-underline text-capitalize" v-else="">No notification found</a>
                            </div>
                        </div>
                    </li>

                    <!--------------- User Profile Menu -------------->
                    <li class="dropdown"><a href="javascript:void(0)" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
									<img alt="Georgy Wat" src="{{current_user.display_photo}}"
						 class="rounded-circle mr-1">
					<div class="d-sm-none d-lg-inline-block">{{current_user.fullname}}</div></a>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <a href="./profile.php" class="dropdown-item has-icon">
					<i class="far fa-user"></i> Profile				</a>
                            <a href="./qr-code.php" class="dropdown-item has-icon">
						<i class="fas fa-qrcode"></i> QR Code					</a>

                            <a href="../../../user/password/reset.php" class="dropdown-item has-icon">
					<i class="fas fa-unlock-alt"></i> Change Password				</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" type="button" class="dropdown-item has-icon text-danger" data-toggle="modal" data-target="#logoutModal">
					<i class="fas fa-sign-out-alt"></i> Logout				</a>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- Start Logout Modal -->
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger pb-2" id="logoutModalLabel">Confirmation !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
                        </div>
                        <div class="modal-body logout-body">
                            Are you sure you want to logout? </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <a href="https://qfsaccessaccount.us/user/logout" type="button" class="btn btn-primary" onclick="event.preventDefault();
			document.getElementById('logout-form').submit();">Logout</a>

                            <form id="logout-form" action="../../../user/incs/log_out.php" method="POST" class="d-none">
                                <input type="hidden" name="_token" value="xbegwQlCSk72J9sKURD5zLNTbR0du6Retz0xphju"> </form>
                        </div>
                    </div>
                </div>
            </div>                                    <!-- End Logout Modal -->
                        <!-- Sidebar -->
                     <div class="main-sidebar sidebar-style-2 shadow-sm">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="investment.php">
				<img src="{{url_for('static', filename="landing/QFS AA.png")}} " width="150" class="dashboard-logo"
					 alt="Logo">
			</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="#">
				<img src="{{url_for('static', filename="landing/QAA.png")}} " class="dashboard-logo-sm"
					 alt="Logo">
			</a>
                    </div>

                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="dropdown  ">
                            <a href="{{url_for('dashboard.dashboard_home')}}" class="nav-link"><i
						class="fas fa-home text-primary"></i><span>Dashboard</span></a>
                        </li>

                        <li class="menu-header">Manage Content</li>

                        <li class="dropdown active">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
						<i class="fas fa-chart-bar text-green"></i> <span>Fixed Deposit</span>
					</a>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a class="nav-link" href="{{url_for('dashboard.fixed_deposit')}}">
								New Fixed Deposit							</a>
                                </li>
                                <li class="active">
                                    <a class="nav-link" href="#">
								My Fixed Deposits							</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-money-check-alt text-green"></i> <span>Deposit</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.deposit_now')}}">
									Deposit Now <small></small>
								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="#">
									Deposit List								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-user-friends text-primary"></i> <span>Send Money</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.send_money')}}">
									Send Money								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.send_list')}}">
									Transfer List								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-search-dollar text-info"></i> <span>Request Money</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.new_request')}}">
									New Request								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.all_request')}}">
									All Request								</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-file-invoice-dollar text-info"></i> <span>Transaction</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.transaction_history')}}">
									Transaction History							</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-exchange-alt text-teal"></i> <span>Exchange</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.exchange')}}">
									Exchange								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.exchange_all')}}">
									All Exchange								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-gift text-orange"></i> <span>Redeem</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.redeem_code')}}">
									Generate New Code								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="#">
									Generated List								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.redeem_code')}}">
									Insert Redeem Code								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-handshake text-purple"></i> <span>Escrow</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.escrow')}}">
									Create a request								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.escrow_list')}}">
									Escrow List								</a>
                                </li>
                            </ul>
                        </li>


                        <li class="">
                            <a class="nav-link" href="{{url_for('dashboard.dispute')}}"><i
								class="fa fa-gavel text-danger"></i>
							<span>Dispute</span></a>
                        </li>
                        <li class="">
                            <a class="nav-link" href="{{url_for('dashboard.pay_qr')}}"><i
								class="fas fa-qrcode text-success"></i>
							<span>QR Payment</span></a>
                        </li>


                        <li class="">
                            <a class="nav-link" href="{{url_for('dashboard.card')}}"><i
								class="fas fa-credit-card text-danger"></i>
							<span>QFS Card</span></a>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-file-invoice-dollar text-primary"></i> <span>Voucher</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.voucher')}}">
									Create voucher								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="voucher-list.php">
									Voucher List								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="fas fa-file-invoice text-primary"></i> <span>Invoice</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="{{url_for('dashboard.invoice')}}">
									Create Invoice								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="#">
									Invoice List								</a>
                                </li>
                            </ul>
                        </li>



                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="far fa-lightbulb text-danger"></i> <span>Bill</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="pay-bill.php">
									Pay Bill								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="list.php">
									Pay List								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
							<i class="far fa-money-bill-alt text-indigo"></i> <span>Payout</span>
						</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="request-payout.php">
									Request Payout								</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="payout-list.php">
									Payout List								</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="javascript:void(0)" class="nav-link has-dropdown" data-toggle="dropdown">
						<i class="fas fa-list-ul text-info"></i> <span>More</span>
					</a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a class="nav-link" href="transaction-list.php">
								Transactions							</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="tickets.php">
								Tickets							</a>
                                </li>
                                <li class="">
                                <a class="nav-link" href="twostep-security.php">
								2FA Security							</a>
                                  <!--<a class="nav-link" href="#">
								2FA Security							</a>
                                </li>-->
                                <li class="">
                                    <a class="nav-link" href="create.php">
								Security PIN							</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="#">
								Manage PIN uses							</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="commission-list.php">
								Commission List							</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="#">
								Verification Center							</a>
                                </li>
                                <li class="">
                                    <a class="nav-link" href="./push-notification-show.php">
								Push Notify Setting							</a>
                                </li>

                                <li class="">
                                    <a class="nav-link" href="setting.php">
								Setting							</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                    </div>
                </aside>
            </div>                     
            
            
            {% block body %}
            
            
                        {% endblock %}
                                  <!-- Footer -->
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2023
                    <div class="bullet"></div> All rights reserved by <b>QFSAA</b>
                        <div class="online-stat">
	                        <p><span class="circle">.</span><span class="online"> Online: <span id="digit">50</span></span></p>
	                    </div>
                        <script type="text/javascript">(function() {var script=document.createElement("script");script.type="text/javascript";script.async =true;script.src="//telegram.im/widget-button/index.php?id=@QFSBLIVECHAT";document.getElementsByTagName("head")[0].appendChild(script);})();</script>
                        <a href="https://telegram.im/@QFSBLIVECHAT" target="_blank"  class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:12px;width:209px;background:#27A5E7;box-shadow:1px 1px 5px #27A5E7;color:#ffffff;border-radius:14px;" title="message on telegram"><i></i> For quick assistance? chat us</a>
                
                </div>

                <div class="footer-right">

                </div>
               
            </footer>
           
           
   <div class="popup pop-one"><i class="fa fa-check-circle" id="pop-check"></i> <span id="full-name"></span> from <span
            id="country-name"></span> just <span id="payment-action"></span> <span id="deposited-withdrew"></span> <span
            id="full-amount"></span>
    </div>

    <div class="popup pop-two"><i class="fa fa-check-circle" id="pop-check"></i> <span id="full_name"></span> from <span
                id="country_name"></span> just <span id="action-type"></span>
    </div>

                        </div>
                        



                        <!-- whatsappp ? Telegram Icon -->
                        <!-- <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
                        <i class="fa fa-telegram my-float"></i>
                        </a>
                        <style>
                            .float{
                                position:fixed;
                                width:60px;
                                height:60px;
                                bottom:40px;
                                right:40px;
                                background-color:#5a81bb;
                                color:#FFF;
                                border-radius:50px;
                                text-align:center;
                              font-size:30px;
                                box-shadow: 2px 2px 3px #999;
                              z-index:100;
                            }
                            
                            .my-float{
                                margin-top:16px;
                            }
                        </style> -->
                </div>

                <!-- General JS Scripts -->
                <script src="https://qfsnesara.io/assets/dashboard/modules/jquery.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/modules/popper.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/modules/bootstrap/js/bootstrap.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/modules/nicescroll/jquery.nicescroll.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/js/stisla.js"></script>

                <!-- JS Libraies -->
                <script src="https://qfsnesara.io/assets/dashboard/js/pusher.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/js/vue.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/js/axios.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/js/notiflix-aio-2.7.0.min.js"></script>
                <script src="https://qfsnesara.io/assets/js/xhamster.min.js"></script>
                <script src="https://qfsnesara.io/assets/js/notify-pop.js"></script>

                <!-- Template JS File -->
                <script src="https://qfsnesara.io/assets/dashboard/js/scripts.js"></script>
            
                    <script>
                            $(document).ready(function(){
                                setInterval(function(){
                                    let rnum = getRandomInt(5,500);
                                    $('#digit').html(rnum);
                                },5000)
                                
                            });

                            function getRandomInt(min, max) {
                                min = Math.ceil(min);
                                max = Math.floor(max);
                                return Math.floor(Math.random() * (max - min + 1)) + min;
                            }
                    </script>

                <script>
                    $(document).ready(function() {
                        $(document).ajaxStart(function() {
                            $('#wait').removeClass('d-none').show();
                        });
                        $(document).ajaxComplete(function() {
                            $('#wait').hide();
                        });
                    });
                </script>

                <script>
                    'use strict';
                    let pushNotificationArea = new Vue({
                        el: "#pushNotificationArea",
                        data: {
                            items: [],
                        },
                        beforeMount() {
                            this.getNotifications();
                            this.pushNewItem();
                        },
                        methods: {
                            getNotifications() {
                                let app = this;
                                axios.get("https://qfsnesara.io/user/push-notification-show")
                                    .then(function(res) {
                                        app.items = res.data;
                                    })
                            },
                            readAt(id, link) {
                                let app = this;
                                let url = "https://qfsnesara.io/user/push-notification-readAt/0";
                                url = url.replace(/.$/, id);
                                axios.get(url)
                                    .then(function(res) {
                                        if (res.status) {
                                            app.getNotifications();
                                            if (link !== '#') {
                                                window.location.href = link
                                            }
                                        }
                                    })
                            },
                            readAll() {
                                let app = this;
                                let url = "https://qfsnesara.io/user/push.notification.readAll";
                                axios.get(url)
                                    .then(function(res) {
                                        if (res.status) {
                                            app.items = [];
                                        }
                                    })
                            },
                            pushNewItem() {
                                let app = this;
                                Pusher.logToConsole = false;
                                let pusher = new Pusher("your_app_KEY", {
                                    encrypted: true,
                                    cluster: "ap2"
                                });
                                let channel = pusher.subscribe('user-notification.' + "118");
                                channel.bind('App\\Events\\UserNotification', function(data) {
                                    app.items.unshift(data.message);
                                });
                                channel.bind('App\\Events\\UpdateUserNotification', function(data) {
                                    app.getNotifications();
                                });
                            }
                        }
                    });

                    // for search
                    $(document).on('input', '.global-search', function() {
                        var search = $(this).val().toLowerCase();

                        if (search.length == 0) {
                            $('.search-result').find('.content').html('');
                            $(this).siblings('.search-backdrop').addClass('d-none');
                            $(this).siblings('.search-result').addClass('d-none');
                            return false;
                        }

                        $('.search-result').find('.content').html('');
                        $(this).siblings('.search-backdrop').removeClass('d-none');
                        $(this).siblings('.search-result').removeClass('d-none');

                        var match = $('.sidebar-menu li').filter(function(idx, element) {
                            if (!$(element).find('a').hasClass('has-dropdown') && !$(element).hasClass('menu-header'))
                                return $(element).text().trim().toLowerCase().indexOf(search) >= 0 ? element : null;
                        }).sort();

                        if (match.length == 0) {
                            $('.search-result').find('.content').append(`<div class="search-item"><a href="javascript:void(0)">No result found</a></div>`);
                            return false;
                        }

                        match.each(function(index, element) {
                            var item_text = $(element).text().replace(/(\d+)/g, '').trim();
                            var item_url = $(element).find('a').attr('href');
                            if (item_url != '#') {
                                $('.search-result').find('.content').append(`<div class="search-item"><a href="${item_url}">${item_text}</a></div>`);
                            }
                        });
                    });
                </script>


                <script src="https://qfsnesara.io/assets/dashboard/js/Chart.min.js"></script>
                <script type="text/javascript" src="https://qfsnesara.io/assets/dashboard/js/moment.min.js"></script>
                <script type="text/javascript" src="https://qfsnesara.io/assets/dashboard/js/daterangepicker.min.js"></script>
                <script src="https://qfsnesara.io/assets/dashboard/js/qrjs2.min.js"></script>
                <script type="module">
                    import {initializeApp} from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js"; import { getMessaging, getToken, onMessage } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-messaging.js"; const firebaseConfig = { apiKey: "Your_API Key",
                    authDomain: "appSecret", projectId: "Project_Id", storageBucket: "Storage_Bucket", messagingSenderId: "Sender_Id", appId: "App_Id", measurementId: "Measurement_Id" }; const app = initializeApp(firebaseConfig); const messaging = getMessaging(app);
                    if ('serviceWorker' in navigator) { navigator.serviceWorker.register('' + `/firebase-messaging-sw.js`, {scope: './'}).then(function (registration) { requestPermissionAndGenerateToken(registration); } ).catch(function (error) { }); } else { } onMessage(messaging,
                    (payload) => { if (payload.data.foreground || parseInt(payload.data.foreground) == 1) { const title = payload.notification.title; const options = { body: payload.notification.body, icon: payload.notification.icon, }; new Notification(title, options);
                    } }); function requestPermissionAndGenerateToken(registration) { document.addEventListener("click", function (event) { if (event.target.id == 'allow-notification') { Notification.requestPermission().then((permission) => { if (permission === 'granted')
                    { getToken(messaging, { serviceWorkerRegistration: registration, vapidKey: "Your_Vapid Key" }) .then((token) => { $.ajax({ url: "https://qfsnesara.io/user/save-token", method: "post", data: { token: token, }, success: function (res) { } }); window.newApp.notificationPermission
                    = 'granted'; }); } else { window.newApp.notificationPermission = 'denied'; } }); } }); }
                </script>
                <script>
                    window.newApp = new Vue({
                        el: "#firebase-app",
                        data: {
                            user_foreground: '',
                            user_background: '',
                            notificationPermission: Notification.permission,
                            is_notification_skipped: sessionStorage.getItem('is_notification_skipped') == '1'
                        },
                        mounted() {
                            this.user_foreground = "0";
                            this.user_background = "0";
                        },
                        methods: {
                            skipNotification() {
                                sessionStorage.setItem('is_notification_skipped', '1');
                                this.is_notification_skipped = true;
                            }
                        }
                    });
                </script>
        


                <script>
                    'use strict';
                    $(document).ready(function() {
                        $('input[name="daterange"]').daterangepicker({
                            opens: 'left',
                            startDate: moment().startOf('month'),
                            endDate: moment().endOf('month'),
                            locale: {
                                format: 'MMMM D, YYYY'
                            }
                        }, function(start, end, label) {
                            getTransaction(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
                        });

                        function getTransaction(start, end) {
                            $.ajax({
                                    method: "GET",
                                    url: "https://qfsnesara.io/user/get-transaction-chart",
                                    dataType: "json",
                                    data: {
                                        'start': start,
                                        'end': end,
                                    }
                                })
                                .done(function(response) {
                                    new Chart(document.getElementById("line-chart"), {
                                        type: 'line',
                                        data: {
                                            labels: response.labels,
                                            datasets: [{
                                                    data: response.dataDeposit,
                                                    label: "Deposit",
                                                    borderColor: "#1abc9c",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataFund,
                                                    label: "Add Fund",
                                                    borderColor: "#00cec9",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataTransfer,
                                                    label: "Send Money",
                                                    borderColor: "#3498db",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataRequestMoney,
                                                    label: "Request Money",
                                                    borderColor: "#9b59b6",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataVoucher,
                                                    label: "Voucher",
                                                    borderColor: "#6b7b98",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataInvoice,
                                                    label: "Invoice",
                                                    borderColor: "#6777ef",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataRedeem,
                                                    label: "Redeem Code",
                                                    borderColor: "#f39c12",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataEscrow,
                                                    label: "Escrow",
                                                    borderColor: "#273c75",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataPayout,
                                                    label: "Payout",
                                                    borderColor: "#bdc3c7",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataExchange,
                                                    label: "Exchange",
                                                    borderColor: "#e74c3c",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataDispute,
                                                    label: "Dispute",
                                                    borderColor: "#8e44ad",
                                                    fill: false
                                                },
                                                {
                                                    data: response.dataCommissionEntry,
                                                    label: "Commission",
                                                    borderColor: "#5444ad",
                                                    fill: false
                                                },
                                            ]
                                        }
                                    });
                                });
                        }

                        new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                                labels: ["1st Jun", "2nd Jun", "3rd Jun", "4th Jun", "5th Jun", "6th Jun", "7th Jun", "8th Jun", "9th Jun", "10th Jun", "11th Jun", "12th Jun", "13th Jun", "14th Jun", "15th Jun", "16th Jun", "17th Jun", "18th Jun", "19th Jun", "20th Jun", "21st Jun", "22nd Jun", "23rd Jun", "24th Jun", "25th Jun", "26th Jun", "27th Jun", "28th Jun", "29th Jun", "30th Jun"],
                                datasets: [{
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Deposit",
                                        borderColor: "#1abc9c",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Add Fund",
                                        borderColor: "#00cec9",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Send Money",
                                        borderColor: "#3498db",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Request Money",
                                        borderColor: "#9b59b6",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "QR Payment",
                                        borderColor: "#CCFB5D",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Voucher",
                                        borderColor: "#6b7b98",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Invoice",
                                        borderColor: "#6777ef",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Redeem Code",
                                        borderColor: "#f39c12",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Escrow",
                                        borderColor: "#273c75",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Payout",
                                        borderColor: "#bdc3c7",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Exchange",
                                        borderColor: "#e74c3c",
                                        fill: false
                                    },
                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Dispute",
                                        borderColor: "#8e44ad",
                                        fill: false
                                    },

                                    {
                                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                                        label: "Commission",
                                        borderColor: "#5444ad",
                                        fill: false
                                    },
                                ]
                            }
                        });
                    });

                    var qr = QRCode.generatePNG(document.getElementById('qrUrl').value, {
                        ecclevel: "M",
                        format: "html",
                        margin: 4,
                        modulesize: 8
                    });

                    var img = document.createElement("img");
                    img.src = qr;
                    document.getElementById('qrcode').appendChild(img);

                    //For download
                    var download = document.getElementById('download-qr').href = qr;
                </script>
                <script>
                    (function($) {

                        "use strict";
                        $('.addBtn').on('click', (e) => {
                            var modal = $('#addModal');
                            modal.modal('show');
                        });
                    })(jQuery);
                </script>



                 <script>
                 document.addEventListener('DOMContentLoaded', function() {
                // Simulating a 3-second delay before hiding the preloader and changing the background color
                setTimeout(function() {
                // Hide the preloader
                var preloader = document.getElementById('preloader');
                preloader.style.display = 'none';
                
                document.getElementById("content").style.display = "block";
                
                // Change the background color to a different color
                document.body.style.backgroundColor = '#fff'; // Set your desired background color
                }, 2000); // 2000 milliseconds (2 seconds) delay
                });
            </script>
    </div>

</body>

</html>